{
    "adapters": [
        {
            "name": "AdColony",
            "settings": {
                "app.id":"** YOUR APP ID **",
                "client.options":" ** CLIENT OPTION STRING AS PER THE DOCUMENTATION **",
                "zone.ids.rewarded.video": [
                    "** YOUR VIDEO ZONE ID **"
                ],
                "zone.ids.interstitial": [
                    "** YOUR INTERSTITIAL ZONE ID **"
                ]
            }
        },
        {
            "name": "AdMob",
            "settings": {
                "ad.unit.id": "** YOUR AD UNIT ID **",
                "addTestDevice": [
                    "SH24******"
                ]
            }
        },
        {
            "name": "Applifier",
            "settings": {
                "game.id.key": "** YOUR GAME ID KEY**",
                "comment": "the following settings are optional",
                "noOfferScreen": BOOLEAN,
                "openAnimated": BOOLEAN,
                "sid": "** GAMERSID **",
                "muteVideoSounds": BOOLEAN,
                "useDeviceOrientationForVideo": BOOLEAN
            }
        },
        {
            "name": "FlurryAppCircleClips",
            "settings": {
                "api.key": "** YOUR API KEY **",
                "ad.name.space": "** YOUR RV AD NAME SPACE **",
                "ad.name.type": "** one of the following - FULLSCREEN or BANNER_TOP or BANNER_BOTTOM **",
                "interstitial.ad.name.space": "** YOUR INTERSTITIAL AD SPACE NAME **",
                "interstitial.ad.type": "** one of the following - FULLSCREEN or BANNER_TOP or BANNER_BOTTOM **",
                "enable.test.ads": BOOLEAN
            }
        },
        {
            "name": "Vungle",
            "settings": {
                "app.id": "** YOUR APP ID **",
                "comment": "the following settings are optional",
                "sound.enabled": BOOLEAN,
                "auto.rotation.enabled": BOOLEAN,
                "back.button.enabled": BOOLEAN,
                "video.considered.watched.at": "** VALUE BTEWEEN 0.1 AND 1 **",
		"incentivized.mode": BOOLEAN
            }
        },
        {
            "name": "AppLift",
            "settings": {
                "app.id": "** YOUR APP ID **",
                "app.secret": "** YOUR APP SECRET **",
                "cache.interstitials": BOOLEAN
            }
        },
        {
            "name": "Appia",
            "settings": {
                "siteId": "** YOUR SITE ID **",
                "placementId": "** YOUR PLACEMENT ID **"
            }
        },
        {
            "name": "AppLovin",
            "settings": {
                "comment": "No info need to be provided for AppLovin in this file. Please put the SDK key into the Android Manifest"
            }
        },
        {
            "name": "InMobi",
            "settings": {
                "propertyId": "** YOUR PROPERTY ID **"
            }
        },
        {
            "name": "Millennial",
            "settings": {
                "app.id": "** YOUR APP ID HERE **",
                "comment": "the following settings are optional",
                "log.level": "** LOG LEVEL **",
                "metadata": {
                    "key1": "value1",
                    "key2": "value2"
                }
            }
        },
        {
            "name": "Yume",
            "settings": {
                "adServerUrl": "** YOUR AD SERVER URL **",
                "domainId": "** YOUR DOMAIN ID **"
                "comment": "the following settings are optional",
                "adParams": {
                    "eStorageMode": "** eg. EXTERNAL_STORAGE **",
                    "storageSize": "** MAX STORAGE SIZE **",
                    "adTimeout": "** TIME VALUE IN SECONDS **"
                }
            }
        },
        {
            "name": "Ebuzzing",
            "settings": {
                "interstitial.tag": "** YOUR INTERSTITIAL TAG **",
                "show.close.button": BOOLEAN,
                "sound.enabled": BOOLEAN,
                "auto.rotation.enabled": BOOLEAN,
                "back.button.enabled": BOOLEAN,
                "video.considered.watched.at": "** VALUE BTEWEEN 0.1 AND 1 **",
                "target": []
            }
        },
	{
            "name": "HyprMX",
            "settings": {
                "userId": "** YOUR USER ID **",
                "distributorId": "** YOUR DITRIBUTOR ID **",
                "propertyId": "** YOUR PROPERTY ID **"
            }
        }
    ]
}
